@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color:rgb(66, 180, 255);
  padding: 20px;

  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.menu-icon {
  display: none; /* Hide the menu icon by default for desktop */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
  margin: 0 10px;
  transition: all 0.3s;
  font-size: 28px;
}

.nav a:hover,
.nav-links a:hover {
  transform: scale(100);
  color: grey;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icon {
  color: white;
  margin-left: 10px;
  font-size: 40px;
  text-decoration: none;
}




/* Media query for mobile devices */
@media (max-width: 668px) {
  .menu-icon {
    display: block;
    font-size: 20px; /* Увеличьте размер иконки бургера */
    margin-top: -12px;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .nav-links.open {
    display: flex;
  }
  .social-icons {
    display: none;
  }

}


.logo {
  padding: 8px 18px; /* Отступы внутри обводки */
  border-radius: 10px; /* Закругляем углы обводки (замените на желаемый радиус) */
  display: inline-block; /* Делаем блочный элемент, чтобы обводка окружала только текст */
  outline: 4px solid white; /* Цвет обводки (замените на желаемый цвет) */
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo a:hover {
  color: grey;
}










/* Ваш файл стилей (например, App.css) */
.welcome-container {
  position: relative;
  background-color: rgb(66, 180, 255);
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
}

.welcome-container h2,
.welcome-container h1,
.welcome-container p {
  margin: 20px;
  font-size: 40px;
}

.welcome-container h1 {
  font-size: 36px;
  font-weight: bold;
}
.welcome-container::before {
  content: "";
  position: absolute;
  bottom: -1px; /* Изменено с 0 на -1px, чтобы полностью скрыть тонкие линии */
  left: 0;
  width: 100%;
  height: 15%; /* Высота зазубренной части */
  background-color: #ffffff;
  clip-path: polygon(
    0% 100%, 5% 0%, 10% 100%, 15% 0%, 20% 100%, 25% 0%, 30% 100%, 35% 0%,
    40% 100%, 45% 0%, 50% 100%, 55% 0%, 60% 100%, 65% 0%, 70% 100%, 75% 0%,
    80% 100%, 85% 0%, 90% 100%, 95% 0%, 100% 100%
  );
}

@media (max-width: 768px) {
  .welcome-container h2,
  .welcome-container h1,
  .welcome-container p {
    font-size: 15px;
  }
  .welcome-container::before {
    height: 30px ;
  }
  
}





.delivery-container {
  background-color: white;
  display: flex;
  flex-direction: column; /* Располагаем элементы в колонке */
  align-items: center;
  text-align: center;
  padding: 20px;
}

.delivery-icon {
  margin-bottom: 10px; /* Отступ между иконкой и текстом */
}

.delivery-text {
  color: rgb(66, 180, 255); /* Цвет текста сделали синим */
  font-size: 30px;
}

@media (max-width: 768px) {
  .delivery-container {
    flex-direction: column;
  }
}












.footer-container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
  }
  
  .organization-info {
    flex: 1;
    padding: 0 20px;
    color: black;
  }
  
  .map-container {
    flex: 1;
    height: 400px;
  }
  
  /* Media query для мобильных устройств (ширина экрана до 768px) */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .map-container {
      order: 1; /* Изменяем порядок, чтобы карту сместить вниз */
      margin-top: 20px; /* Добавляем отступ сверху для карты на мобильных устройствах */
    }
  }